<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand mx-auto">USERS</a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-7 text-center mt-5">
          <table class="table table-striped">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>

            <% if(users) {for(var i=0; i < users.length; i++) { %>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= users[i].firstName %></td>
                <td><%= users[i].lastName %></td>
                <td><%= users[i].email %></td>
                <td>
                  <button type="submit" class="btn btn-success btn-sm" onclick="updateUser(<%= users[i].id %>, '<%= users[i].firstName %>', '<%= users[i].lastName %>', '<%= users[i].email %>' ) ">Edit</button>

                  <form action="/users/old/delete" method="post" class="d-inline">
                    <input type="hidden" value="<%= users[i].id; %>" name="id" />
                    <button type="submit" class="btn btn-danger btn-sm">Del</button>
                  </form>
                </td>
              </tr>
            <% }}; %>
            
          </table>

          <% if(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Sorry!</strong> We had a problem to consult the required information, please
              <strong><a href="/users/old" class="text-secondary">try again</a></strong>later.

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% }; %>
        </div>

        <div class="col-sm-12 col-md-5 mt-5">
          <div class="card">
            <form action="/users/old/add" method="POST" class="card-body" id="form">
              <h3 class="card-title" id="form-title">Add a new user</h3>

              <% if(addStatus === 'fail') { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>User not created</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <% }; %>

              <input type="hidden" value="" name="id" />

              <div class="form-group mt-4">
                <input type="text" name="firstName" class="form-control" placeholder="First name" required autofocus />
              </div>

              <div class="form-group">
                <input type="text" name="lastName" class="form-control" placeholder="Last name" required autofocus />
              </div>

              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" autofocus />
              </div>
              
              <div class="form-group mt-4">
                <input type="submit" value="ADD USER" class="btn btn-primary" name="btnAdd" />
              </div>
              <div class="form-group mt-4">
                <input type="submit" value="SAVE" class="btn btn-success d-none" name="btnUpdate" />
                <input type="reset" value="CANCEL" class="btn btn-secondary d-none" name="btnCancel" onclick="removeUpdateUser()" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <!-- <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script> -->
    <script>
      form = document.getElementById('form');
      formTitle = document.getElementById('form-title');

      function updateUser( id, firstName, lastName, email ) {
        form.action = '/users/old/update';
        
        formTitle.innerText = 'Edit User';
        formTitle.style.color = 'green';
        
        form.btnAdd.classList.remove('d-block');
        form.btnAdd.classList.add('d-none');
        form.btnUpdate.classList.remove('d-none');
        form.btnCancel.classList.remove('d-none');
        form.btnUpdate.classList.add('d-inline');
        form.btnCancel.classList.add('d-inline');

        form.firstName.value = firstName;
        form.lastName.value = lastName;
        form.email.value = email;
        form.id.value = id;
      }

      function removeUpdateUser( ) {
        form.action = '/users/old/add';
        
        formTitle.innerText = 'Add a new user';
        formTitle.style.color = 'black';
        
        form.btnAdd.classList.remove('d-none');
        form.btnAdd.classList.add('d-block');
        form.btnUpdate.classList.remove('d-inline');
        form.btnCancel.classList.remove('d-inline');
        form.btnUpdate.classList.add('d-none');
        form.btnCancel.classList.add('d-none');
      }
    </script>
  </body>
</html>